@model IEnumerable<WebFinalodevi.Models.konsol>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hafıza)
        </th>
        <th>
            konsol 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.marka)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hafıza)
    </td>
    <td>
        @foreach (var itemD in item.oyunlarim)
        {
            @Html.ActionLink(itemD.oyunisim, "Edit", "oyunlar", new { id = item.Id }, null) <br />
//@Html.DisplayFor(modelItemD => itemD.Ad)<br />
}
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
